body{
    background-color: black;
}

.navbar-menu a:hover{
    color:	#8b635c;
}

.navbar-brand a:hover{
    color:	#8b635c;
}

.navbar-link:not(.is-arrowless)::after{
    border-color:#8b635c;
}

.has-text-brown{
    color:#8b635c !important;
}

.has-text-shadow-brown{
    text-shadow:
    -1px -1px 0 #8b635c,  
     1px -1px 0 #8b635c,
     -1px 1px 0 #8b635c,
      1px 1px 0 #8b635c;
}

.has-no-bg{
    background-color: #fefefe00 !important;
    color:white !important;
    border-color: #fefefe00 !important;
}

.is-hcentered{
    justify-content: center !important;
}

.has-padding-5{
    padding:5px;
}


table.is-borderless td {
    border: 0 !important;
  }

.floating-box{
    position: absolute !important;
    justify-content: center !important;
    text-align: center;
    top:20%;
    left:10%;
    max-width: 380px;
    background-color: #fefefed5;
}

.responsive-map{
    overflow: hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.responsive-map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media screen and (max-width: 600px) {
    .floating-box{
        display: none !important;
    }

}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.galeria{
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}

.linea{
    border-top: 5px solid #0077C0;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(0, 118, 192, 0.781) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2{
    color: #fff;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}
